<div>
  <h1>Employees</h1>
  <v-app class="table-emp">
    <div class="search-form">
      <h4>Find employee: </h4><input type="text" v-model="searchEmp"><br>
    </div>
    <v-simple-table
      :height="400"
      :fixed-header="true">
      <thead>
      <tr>
        <th class=""></th>
        <th class=""></th>
        <th class="center">empID</th>
        <th class="center">empName</th>
        <th class="center">empActive</th>
        <th class="center">empDepartment</th>
        <th class="center"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in resultQuery" :key="item.id">
        <td>view</td>
        <td><a @click="editEmployee(item.id, item.name, item.active, item.depId)">edit</a></td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.active}}</td>
        <td>{{departmentsMap[item.depId]}}</td>
        <td><a @click="deleteEmployee(item)">delete</a></td>
      </tr>
      </tbody>
    </v-simple-table>
    <div class="edit-form">
      <h3>Edit employee form:</h3>
      <input type="radio" id="one" value="Create" v-model="type">
      <label for="one">Create</label>
      <br>
      <input type="radio" id="two" value="Edit" v-model="type">
      <label for="two">Edit</label>
      <div v-if="type === 'Edit'">
        <div v-if="editEmployeeForm.id">
          <h4>Editing employee with id: {{editEmployeeForm.id}}</h4>
        </div>
      </div>
      <div v-if="type === 'Create' || editEmployeeForm.id">
        <div>
          <input type="text" v-model="editEmployeeForm.name"> name<br><br>
          <input type="checkbox" v-model="editEmployeeForm.active" > active<br><br>
          <select v-if="departments" v-model="editEmployeeForm.departmentId">
            <option v-for="option in departments" v-bind:value="option.dpID">
              {{ option.dpName }}
            </option>
          </select> <br>
          <input class="submit-button" type="submit" @click="confirmEdition()" value="Submit">
        </div>
      </div>
      <div v-if="!editEmployeeForm.id">
        <h3>Select employee to edit!</h3>
      </div>
    </div>
  </v-app>
</div>
